body{
  background-color:rgba(141, 195, 147, 0.38);
  /* background-image: url('bghome.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%; */
margin-bottom: 0%;
}
/* #c1{
  position: absolute;
 margin: auto; 
} */
.image{
  /* position: absolute;
  
  left: 200px;
  top: 100px;
  /* background: url(.jpg); */
  /* border-radius: 55px;
  text-align: center;
  align-items: center; */ 
  position: absolute;
  /* width: 860px;
  height: 580px; */
  top: 150px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 55px;
  /* background-color: rgb(251, 251, 251); */
}
nav {
  background-color: #f7f7f7;
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  width:auto;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(2, 2, 2);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #bcb6b6;
  color: greenyellow;
}

#hm{
    /* width: 100%;
    margin: 0;
    padding: 0;
    

  
  
  
  /* Set the max-width of the image to 100% */
  
    max-width: 100%;
    height: auto;
    /* display: block; */
    display: inline-block;
  
  
} 


.text {
  position: absolute;
  top: 30%;
  left: 22%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #070000;
  text-align: left;
  
  
}
#inImg{
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 180px;
  height: 230px;
  top: 50%;
  left: 70%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
 
}
#inImg1{
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 180px;
  height: 230px;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}
 #inImg2{
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 180px;
  height: 230px;
  top: 90%;
  left: 70%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
}

#inImg3{
  background-color: rgb(255, 255, 255);
  position: absolute;
  width: 180px;
  height: 230px;
  top: 90%;
  left: 85%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
} 
#in1{
  width: 149px;
  height: 138px;
  position: absolute;
  transform: translate(8%, 3%);
  
  

}

#in2{
  width: 130px;
  height: 120px;
  position: absolute;
  transform: translate(8%, 0%);
}

#in3{
  width: 153px;
  height: 118px;
  position: absolute;
  transform: translate(8%, 0%);
}

#in4{
  width: 160px;
  height: 160px;
  position: absolute;
  transform: translate(8%, 4%);
  
}

#inline1{
  position: absolute;
  transform: translate(0%, 320%);
  text-align: center;

}
#inline2{
  position: absolute;
  transform: translate(25%, 320%);
  text-align: center;
}
#inline3{
  position: absolute;
  transform: translate(49%, 675%);
  text-align: center;
}
#inline4{
  position: absolute;
  transform: translate(40%, 675%);
  text-align: center;
}

#imgCroprec1{
  background-color: rgb(255, 255, 255);
  /* width: 1450px; */
  height: 775px;
  top: 500%;
  left: 0.4%;
  position: static; 
  display: block;
  width: auto;
  margin-top: 17px;

  /* transform: translate(40%,300%); */
  /* max-width: 100%;
    height: auto;
    display: block; */
}
#imgCroprec2{
  background-color: rgb(255, 255, 255);
  /* width: 1450px; */
  height: 775px;
  top: 220%;
  left: 0.4%;
  position: static;
  margin-top: 17px;
  width: auto;
  /* transform: translate(40%,300%); */
  
}
#imgCroprec3{
  background-color: rgb(255, 255, 255);
  /* width: 1450px;
   */
  width: auto;

  height: 775px;
  top: 125%;
  left: 0.4%;
  position: static;
  /* transform: translate(40%,300%); */
  margin-top: 17px;
  
}
#imgCroprec4{
  background-color: rgb(255, 255, 255);
  /* width: 1450px; */
  width: auto;

  height: 775px;
  top: 125%;
  left: 0.4%;
  position: static;
  /* transform: translate(40%,300%); */
  margin-top: 17px;
  margin-bottom: -300px;
}
#main_img1{
  position: absolute;
width: 479px;
height: 530px;
left: 118px;
top: 951px;
border-radius: 39px;
/* overflow: hidden;  */
 object-fit: fill;

}

.text2 {
  position: absolute;
  top: 951px;
  right: 50px;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #070000;
  text-align: right;
  
  
}
.text3{
  position: absolute;
width: 504px;
height: 100px;
top: 1135px;
  right: 39px;
transform: translate(-50%, -50%);

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 31px;
text-align: justify;

color: #000000;

}

#clk1{
  position: absolute;
width: 387px;
height: 95px;
top: 1445px;
right:100px;

background: #053245;
border-radius: 68px;
transform: translate(-50%, -50%);
}

#smclk1{
  position: absolute;
width: 67px;
height: 69px;
top: 1410px;
right:310px;

background: #C2E854;
border-radius: 50px;
}

#arrow{
  position: absolute;
width: 24px;
height: 24px;
top: 1433px;
right:330px;

}
#text4{
  /* position: absolute;
width: 203px;
height: 37px;
left: 799px;
top: 602px;
*/ 
/* position: absolute; */
top: 1560px;
right:300px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px; 
transform: translate(33%, -67%);
color: #ffffff;
}

#main_img2{
  position: absolute;
width: 479px;
height: 530px;
right: 118px;
top: 1726px;
border-radius: 39px;
/* overflow: hidden;  */
 object-fit: fill;

}

.text22 {
  position: absolute;
  top: 1726px;
 
  left: 490px;
  
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #070000;
  /* text-align: right; */
  
  
}
.text33{
  position: absolute;
width: 504px;
height: 100px;
top: 1910px;
left: 450px;
transform: translate(-50%, -50%);

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 31px;
text-align: justify;

color: #000000;

}

#clk11{
  position: absolute;
width: 387px;
height: 95px;
top: 2220px;
left:390px;

background: #053245;
border-radius: 68px;
transform: translate(-50%, -50%);
}

#smclk11{
  position: absolute;
width: 67px;
height: 69px;
top: 2185px;
left:210px;

background: #C2E854;
border-radius: 50px;
}

#arrow11{
  position: absolute;
width: 24px;
height: 24px;
top: 2208px;

left:230px;
transform: matrix(-1, 0, 0, 1, 0, 0);

}
#text44{
  /* position: absolute;
width: 203px;
height: 37px;
left: 799px;
top: 602px;
*/ 
/* position: absolute; */
top: 1560px;
right:300px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px; 
transform: translate(33%, -67%);
color: #ffffff;
}

#main_img3{
  position: absolute;
width: 479px;
height: 530px;
left: 118px;
top: 2501px;
border-radius: 39px;
/* overflow: hidden;  */
 object-fit: fill;

}

.text222 {
  position: absolute;
  top: 2501px;
  right: 160px;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #070000;
  /* text-align: right; */
  
  
}
.text333{
  position: absolute;
width: 504px;
height: 100px;
top: 2685px;
  right: 39px;
transform: translate(-50%, -50%);

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 31px;
text-align: justify;

color: #000000;

}

#clk111{
  position: absolute;
width: 387px;
height: 95px;
top: 2995px;
right:100px;

background: #053245;
border-radius: 68px;
transform: translate(-50%, -50%);
}

#smclk111{
  position: absolute;
width: 67px;
height: 69px;
top: 2960px;
right:310px;

background: #C2E854;
border-radius: 50px;
}

#arrow111{
  position: absolute;
width: 24px;
height: 24px;
top: 2983px;
right:330px;

}
#text444{
  /* position: absolute;
width: 203px;
height: 37px;
left: 799px;
top: 602px;
*/ 
/* position: absolute; */
top: 1560px;
right:300px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px; 
transform: translate(33%, -67%);
color: #ffffff;
}

#main_img4{
  position: absolute;
width: 479px;
height: 530px;
right: 118px;
top: 3276px;
border-radius: 39px;
/* overflow: hidden;  */
 object-fit: fill;

}

.text2222 {
  position: absolute;
  top: 3276px;
  left: 355px;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #070000;
  /* text-align: right; */
  
  
}
.text3333{
  position: absolute;
width: 504px;
height: 100px;
top: 3460px;
left: 450px;
transform: translate(-50%, -50%);

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 31px;
text-align: justify;

color: #000000;

}

#clk1111{
  position: absolute;
width: 387px;
height: 95px;
top: 3770px;
left:390px;

background: #053245;
border-radius: 68px;
transform: translate(-50%, -50%);
}

#smclk1111{
  position: absolute;
width: 67px;
height: 67px;
top: 3735px;
left:210px;

background: #C2E854;
border-radius: 50px;
}

#arrow1111{
  position: absolute;
width: 24px;
height: 24px;
top: 3758px;
left:233px;
transform: matrix(-1, 0, 0, 1, 0, 0);

}
#text4444{
  /* position: absolute;
width: 203px;
height: 37px;
left: 799px;
top: 602px;
*/ 
/* position: absolute; */
top: 1560px;
right:300px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 28px;
line-height: 34px; 
transform: translate(33%, -67%);
color: #ffffff;
}
#footer{
  /* margin-top: 100px; */
  
  top: 200px;
  width: 1446px;
    height: 300px;
    display:inline-block;
    /* display: inline-block; */
position: relative;
}
#titlefoot{
position: static;
width: 373.27px;
height: 63px;
/* left: 50px;
top: 4120px; */

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 36px;
/* line-height: 44px; */
text-align: justify;

color: #000000;

}
.titlefoot{
transform: translate(3.6%, 160%);

}
#title1foot{
  margin:0px ;
  position: absolute;
  width: 509.88px;
  height: 39px;
  /* left: 34.63px;*/
  top: 65px; 

font-family: 'Inter';
font-style: normal;
font-weight: 300;
font-size: 26px;
/* line-height: 31px; */
text-align: justify;

color: #000000;

}
#typebox{
position: absolute;
top :125px;
background-color: white;
width: 280px;
height: 59px;
border-radius: 14px;
}   
input {
border-radius: 14px;
border: none;
  /* height: 35px; */
  /* width:200px ; */
 ;
left: 100px;
  width: 180px;
  height: 55px;
}
input:focus,
input:active {
 box-shadow: none !important;
 -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
 outline: none !important;
}
button {
  position: absolute;
  display: inline-block;
  left: 197px;
  border-radius: 14px;
  background: #C2E854;
  padding: 20px;
  width: 76.96px;
  height: 50px;
  top: 5px;
  color: #050505;
  text-align:absolute;
  border: none;
}
#sub1{ 
  position: absolute;
  top: 5px;
}
.billi{
  position: absolute;
  left: 280px;
  width: 80px;
  height: 80px;
  top: -7px;
}

#logo_foot{
  
position: absolute;
width: 65.92px;
height: 65px;
left: 1320px;
top: 65px;

}

#logolink_foot{
  
position: absolute;
width: 180px;
height: 17px;
left: 1230px;
top: 72px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 16px;

color: #000000;

}

#text_toplogo{
  width: 82px;
height: 30px;
left: 1000;
top: 100;
position: absolute;
transform: translate(150%, -330%);

font-family: 'Fraunces';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 30px;
/* identical to box height */


color: #000000;
}
#text1_toplogo{
  width: 468px;
  height: 15px;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  position: absolute;
transform: translate(26%, -330%);
  
  color: #353131;
  
  
  /* Inside auto layout */
  
  flex: none;
  order: 1;
  flex-grow: 0;
}
#email_box{
  transform: translate(16%,0%);
  width:150px
}
#github{
  /* right: 203px; */
  position: absolute;
  transform: translate(-1003%,0%);

}
a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color:#00A0C6; 
  text-decoration:none; 
  cursor:pointer;  
}

.water_jutsu:hover{
  /* transform: scale(1.1); */
  animation-name: zoom-in;
  animation-duration: 2s;
  animation-fill-mode:none;
  /* transition: transform 0.3s ease-out; */
}


@keyframes zoom-in {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}


