<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      Crop Recommendation
    </title>
    <link rel="stylesheet" type="text/css" href="../static/css/crop_rec_input.css">
</head>
<body>
  <div class="navbar">
    <div class="logo">
      <a href="/" class="logolink">
        <!-- <h1 class="logo">Crop it Baby!</h1> -->
        <img alt="Crop it Baby!!" width="110" height="85" src="../static/cropit1.gif"></a>
        <h4  id="text_toplogo"> Crop It </h4>
        <h4 id="text1_toplogo">
          Optimize your crop yield and resource use efficiency with CropIt
        </h4>
        

    </div>
    <div class="menu">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/crop">Crop Recommendation</a></li>
          <li><a href="/fertile">Fertilizer Recommendation</a></li>
          <li><a href="/water_in">Water Requirement</a></li>
          <li><a href="/cropmap_in">Crop Mapping</a></li>
          <li><a href="/contact" style="margin-left: 600px;">Contact us</a></li>
          

        </ul>
      </nav>
    </div>
  </div>


    <div class="body">
<h1 id="title_body" >Crop Recommendation</h1>

<div class="form">
<div id="formtab">
  <form action="crop_sub" method="POST" > <!-- method="POST"-->
    <div class="form-group" >
      <label id="label_nitro">Nitrogen :</label><br>
      <input type="text"  name="nitro" class="inp1" id="input_nitro" placeholder="     Enter the value of Nitrogen">
      
    </div>
    <div class="form-group">
      <label id="label_potass">Potassium :</label><br>
      <input type="text"  name="potass" class="inp1" id="input_potass" placeholder="     Enter the value of Potassium">
      
    </div>
    <div class="form-group">
      <label id="label_phospho">Phosphorous :</label><br>
      <input type="text"  name="phospho" class="inp1" id="input_phospho" placeholder="     Enter the value of Phosphorous">
      
    </div>
    <div class="form-group">
      <div id="label_ph">
      <label id="form_ph">Ph value :</label><br>
      <input type="text" name="ph" id="inp_ph">
    </div>
    <div id="label_humid">
      <label id="form_humid">Humidity :</label><br>
      <input type="text" name="humid" id="inp_humid" >
    </div>
    <div id="label_temp">
      <label id="form_temp">Temperature :</label><br>
      <input type="text" name="temp" id="inp_temp" >
    </div>

    </div>
    <div id="submit_form">
    <button type="submit" style="background: #3CA43A; text-align: center;" class="btn btn-primary">Predict</button>
    <div id="container_redirect"><a href="https://www.timeanddate.com/weather/india" target="_blank" id="redirect">Click to check temperature and 
humidity</a>
</div>
  </div>
  
  </form>
  <div id="main_image">
    <img src="../static/main_rec1.jpg" alt="" id="mainimg">
  </div>
</div>
</div>


    </div>



    <div id="footmain">
      <!-- <div id="footer"> -->
        <img src="../static/footer.jpg" alt="" id="footer">
      </div>
      <div class="titlefoot" style="width: fit-content;">
        
        <p id="titlefoot" style="width:auto;">Want new updates?</p>
      
      
        <p id="title1foot">What are you waiting for, Subscribe now!!</p>
        <div id="typebox">
          <div>
            <!-- <img src="email.png" alt="pika pi pikachu" class="emailpng"> -->
            <a href="https://github.com/vivekratr/Crop-it" id="github">
  
              <img src="../static/billi.png"  alt="" class="billi">
            </a>
            </div>
            <form action="http://127.0.0.1:5500/landing.html">
              <div id="email_box">
            <input name="main_email" type="email" placeholder="Email address">
          </div>
            <button name="main_email" type="submit"><p id="sub1">Submit</p></button>
          </form>
            <img src="../static/cropit1.gif" alt="" id="logo_foot">
            <h4 id="logolink_foot"> www.cropit.com </h4>
        </div>
        
      <!-- </div> -->
    </div>

    
    
</body>
</html>