<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fertilizer Recommendation</title>
   
    <link rel="stylesheet" type="text/css" href="../static/css/fertlilzer_rec.css">

</head>
<body>
  <div class="navbar">
    <div class="logo">
      <a href="/" class="logolink">
        <!-- <h1 class="logo">Crop it Baby!</h1> -->
        <img alt="Crop it Baby!!" width="110" height="85" src="../static/cropit1.gif"></a>
        <h4  id="text_toplogo"> Crop It </h4>
        <h4 id="text1_toplogo">
          Optimize your crop yield and resource use efficiency with CropIt
        </h4>
        

    </div>
    <div class="menu">
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/crop">Crop Recommendation</a></li>
          <li><a href="/fertile">Fertilizer Recommendation</a></li>
          <li><a href="/water_in">Water Requirement</a></li>
          <li><a href="/cropmap_in" >Crop Mapping</a></li>
          <li><a href="/contact" style="margin-left: 600px;">Contact us</a></li>
          

        </ul>
      </nav>
    </div>
  </div>



    <div class="body">
<h1 id="title_body">Fertilizer Recommendation</h1>
<div id="main_image">
    <img src="../static/fertilizer_content1.jpg" alt="" id="mainimg">
  </div>
<div class="form">
<div id="formtab">
    <form action="/fertile_out" method="POST"> <!-- method="POST"-->
    <div class="form-group" >
      <label id="label_nitro">Nitrogen :</label><br>
      <input type="text"  name="nitro" class="inp1" id="input_nitro" placeholder="     Enter the value of Nitrogen">
      
    </div>
    <div class="form-group">
      <label id="label_potass">Potassium :</label><br>
      <input type="text"  name="potass" class="inp1" id="input_potass" placeholder="     Enter the value of Potassium">
      
    </div>
    <div class="form-group">
      <label id="label_phospho">Phosphorous :</label><br>
      <input type="text"  name="phospho" class="inp1" id="input_phospho" placeholder="     Enter the value of Phosphorous">
      
    </div>
    <div class="form-group">
        <label id="label_phospho">Temperature :</label><br>
        <input type="text"  name="temp1" class="inp1" id="input_phospho" placeholder="     Enter the value of Temperature ">
        
      </div>

      <div class="form-group">
        <label id="label_phospho">Crop type :</label><br>
        <!-- <input type="" name="crop_type" class="inp1" id="input_phospho" placeholder="     Enter the value of Temperature "> -->
        <div id="opt1">
            <div id="white_container">
                <select id="options" name="crop_opt">
                  

















               




                    <option>Select from options</option>
                    <option>rice</option>
                    <option>maize</option>
                    <option>chickpea</option>
                    <option>kidneybeans</option>
                    <option>pigeonpeas</option>
                    <option >mothbeans</option>
                    <option >mungbean</option>
                    <option >mothbeans</option>
                    <option >blackgram</option>
                    <option >lentil</option>
                    <option >pomegranate</option>
                    <option >banana</option>
                    <option >mango</option>
                    <option >grapes</option>
                    <option >watermelon</option>
                    <option >apple</option>
                    <option >orange</option>
                    <option >papaya</option>
                    <option >coconut</option>
                    <option >cotton</option>
                    <option >jute</option>
                    <option >coffee</option>
                    <option >muskmelon</option>
                </select>
            </div>
       
    </div>
      </div>

    </div>
    <div id="submit_form">
    <button type="submit" style="background: #3CA43A; text-align: center;" class="btn btn-primary">Predict</button>
    <div id="container_redirect"><a href="https://www.timeanddate.com/weather/india" target="_blank" id="redirect">Click to check temperature </a>
</div>
  </div>
  
  </form>
 
</div>
</div>


    </div>



    <div id="footmain">
      <!-- <div id="footer"> -->
        <img src="../static/footer.jpg" alt="" id="footer">
      </div>
      <div class="titlefoot">
        
        <p id="titlefoot">Want new updates?</p>
      
      
        <p id="title1foot">What are you waiting for, Subscribe now!!</p>
        <div id="typebox">
          <div>
            <!-- <img src="email.png" alt="pika pi pikachu" class="emailpng"> -->
            <a href="https://github.com/vivekratr/Crop-it" id="github">
  
              <img src="../static/billi.png"  alt="" class="billi">
            </a>
            </div>
            <form action="/">
              <div id="email_box">
            <input name="main_email" type="email" placeholder="Email address">
          </div>
            <button name="main_email"  type="submit"><p id="sub1" style="margin-bottom: 80px;">Submit</p></button>
          </form>
            <img src="../static/cropit1.gif" alt="" id="logo_foot">
            <h4 id="logolink_foot"> www.cropit.com </h4>
        </div>
        
      <!-- </div> -->
    </div>

    
    
</body>
</html>