<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CROP IT BABY!!</title>
    <!-- <link rel="stylesheet" href="landing.css"> -->
    <!-- <link rel="stylesheet" href="C:\Users\Naru\Desktop\ids ie\static\css\landing.css"> -->
    
    <link rel="stylesheet" type="text/css" href="../static/css/landing.css">


    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>

    <div class="main">
      <div class="navbar">
        <div class="logo">
          <a href="/" class="logolink">
            <!-- <h1 class="logo">Crop it Baby!</h1> -->
            <img alt="Crop it Baby!!" width="110" height="85" src="../static/cropit1.gif"></a>
            <h4  id="text_toplogo"> Crop It </h4>
            <h4 id="text1_toplogo">
              Optimize your crop yield and resource use efficiency with CropIt
            </h4>
            

        </div>
        <div class="menu">
          <nav>
            <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/crop">Crop Recommendation</a></li>
              <li><a href="/fertile">Fertilizer Recommendation</a></li>
              <li><a href="/water_in">Water Requirement</a></li>
              <li><a href="/cropmap_in">Crop Mapping</a></li>
              <li><a href="/contact" style="margin-left: 600px;">Contact us</a></li>
              

            </ul>
          </nav>
        </div>
      </div>
      <div>
        <div class="container">
      <img id="hm" src="../static/pahaad2.jpg" alt="Image description ">
      <h1 class="text">Optimize your crop<br> yield with Crop It</h1>
      <a href="/fertile" class="fertilizer_link">
      <div id="inImg">
        <img id="in1" src="../static/fertilizer.png" alt="Image description ">
       <b id="inline1"> Fertilizer Recommendation </b>
       
      </div></a>
      <a href="/crop" class="croprec_link">
      <div id="inImg1">
        <img id="in2" src="../static/croprec.png" alt="Image description ">
        <b id="inline2"> Crop <br>Recommendation </b>
      </div></a>
      <a href="/water_in" class="water_link">
      <div id="inImg2">
        <img id="in3" src="../static/farmerwat.png" alt="Image description ">
        <b id="inline3"> Water Usage </b>
      </div></a>
      <a href="/cropmap_in" class="map_link">
      <div ></div>
      
      <div  id="inImg3">
        <img id="in4" src="../static/field.png" alt="Image description ">
        <b id="inline4"> Crop Mapping </b>
      </div></a>
      </div></div>
      <div>
      <div class="croprec">
        <div id="imgCroprec1">
          <img class="water_jutsu" src="../static/main_rec1.jpg" alt="hello" id="main_img1">
          
        
        </div>
        <div class="container">
          <div>
            <h1 class="text2">
              Crop Recommendation
            </h1>
          </div>
        </div>
          <div class="container">
            <h1 class="text3">
              Maximize your yield and profitability with our crop recommendation feature.<br> 
              <br>
              <br>

Our algorithm factors in soil type, climate, water availability, and market demand to suggest the most suitable crops for your farm. Try it today!
            </h1>
          
        </div>
<div class="container">
  <a href="/crop">
  <div id="clk1">
    <h1 id="text4"><br>
      <br>
      <br>

      Click here
    </h1>
</a>
  </div> 

</div>

<div class="container">
  <a href="/crop">

  <div id="smclk1">
    
  </div>
  <div class="container">
    <div class="arrowmain">
      <img src="../static/arrow.png" alt="" id="arrow">
    </div></a>
 
  </div> 
  
</div>

      </div>
      <div class="croprec">
        <div id="imgCroprec2">
          <img class="water_jutsu" src="../static/fertilizer_content1.jpg" alt="hello" id="main_img2">
          
        
        </div>
        <div class="container">
          <div>
            <h1 class="text22">
              Fertilizer Recommendation
            </h1>
          </div>
        </div>
        <div class="container">
          <h1 class="text33">
            We offer farmers and growers an efficient and accurate way to optimize crop growth and yield. <br><br><br>

            Our service involves soil testing, nutrient analysis, and customized fertilizer recommendations based on specific crop needs and environmental factors. <br><br>
            

          


          </h1>
        
      </div>
<div class="container">
  <a href="/fertile" class="fertile_link">
<div id="clk11">
  <h1 id="text44"><br>
    <br>
    <br>

    Click here
  </h1>

</div></a>

  



</div>

<div class="container">
<div id="smclk11">
  
</div>
<div class="container">
  <div class="arrowmain">
  <a href="/fertile" class="fertile_link">

    <img src="../static/arrow.png" alt="" id="arrow11">
  </a>
  </div>

</div>
        </div>
      </div>
      <div class="croprec">
        <div id="imgCroprec3">
          <img class="water_jutsu" src="../static/water_content.png" alt="hello" id="main_img3">
          
        
        </div>
        <div class="container">
          <div>
            <h1 class="text222">
              Water Requirement
            </h1>
          </div>
        </div>
        <div class="container">
          <h1 class="text333">
            Water your crops with confidence using our crop water requirement feature. 

Our algorithm calculates the precise water needs of your crops based on crop type, weather, and soil moisture.<br> 
            <br>
            

Our algorithm factors in soil type, climate, water availability, and market demand to suggest the most suitable crops for your farm. Try it today!
          </h1>
        
      </div>
<div class="container">
  <a href="/water_in" class="water_link">
<div id="clk111">
  <h1 id="text444"><br>
    <br>
    <br>

    Click here
  </h1>

</div></a>
</div>

<div class="container">
<div id="smclk111">
  
</div>
<div class="container">
  <div class="arrowmain">
  <a href="/water_in" class="water_link">

    <img  src="../static/arrow.png" alt="" id="arrow111"></a>
  </div>

</div>
        </div>
      </div>
      <div class="croprec">
        <div id="imgCroprec4">
          <img class="water_jutsu" src="../static/crop_map_content.png" alt="hello" id="main_img4">
          
        
        </div>
        <div class="container">
          <div>
            <h1 class="text2222">
              Crop Mapping
            </h1>
          </div>
        </div>
        <div class="container">
          <h1 class="text3333">
            The crop map specifies the types of agricultural species that grow in a selected region, the size of the territory they cover, and their stage of development at a specified time.<br> <br><br>
            Crop maps can tell farmers pretty much about their lands, apart from field boundaries and crop types         </h1>
        
      </div>
<div class="container">
  <a href="/cropmap_in" class="map_link">
<div id="clk1111">
  <h1 id="text4444"><br>
    <br>
    <br>

    Click here
  </h1>

</div></a>
</div>

<div class="container">
<div id="smclk1111">
  
</div>
<div class="container">
  <div class="arrowmain">
  <a href="/cropmap_in" class="map_link">

    <img src="../static/arrow.png" alt="" id="arrow1111"></a>
  </div>

</div>

  <div id="footer">
    <img  src="../static/footer.jpg" alt="" id="footer">
  </div>
  <div class="titlefoot">
    
    <p id="titlefoot">Want new updates?</p>
  
  
    <p id="title1foot">What are you waiting for, Subscribe now!!</p>

    <div id="typebox">
      <div>

        <!-- <img src="email.png" alt="pika pi pikachu" class="emailpng"> -->
        <a href="https://github.com/vivekratr/Crop-it" id="github">
  
        <img src="../static/billi.png"  alt="" class="billi">
      </a>
        </div>
        <form action="/">
        <div id="email_box">
      <input name="main_email" type="email" placeholder="Email address">
    </div>
      <button name="main_email" type="submit"><p id="sub1">Submit</p></button>
    </form>
      <img src="../static/cropit1.gif" alt="" id="logo_foot">
      <h4 id="logolink_foot"> www.cropit.com </h4>
    </div>
    
  </div>
  

        </div>
      </div>
      </div>
    </div>
    </div>

    
    
    <!-- <div class="image">
       <img id="c1" src="crop1.2.jpg" alt="crop image"> 
    </div> -->

  </body>
</html>

