<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8fc8556506c0c8c2ea41c4b736edfb4c {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_8fc8556506c0c8c2ea41c4b736edfb4c" ></div>
        
</body>
<script>
    
    
            var map_8fc8556506c0c8c2ea41c4b736edfb4c = L.map(
                "map_8fc8556506c0c8c2ea41c4b736edfb4c",
                {
                    center: [20.5937, 78.9629],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_f86bbfa7b2da3029b6f8835a6813e259 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8fc8556506c0c8c2ea41c4b736edfb4c);
        
    
            var feature_group_28a3425fc390fb004790ba5d8a991771 = L.featureGroup(
                {}
            ).addTo(map_8fc8556506c0c8c2ea41c4b736edfb4c);
        
    
            var marker_111b7ba0e9e2bf54280e9efb9f6e1a70 = L.marker(
                [9.611407, 76.3798488],
                {}
            ).addTo(feature_group_28a3425fc390fb004790ba5d8a991771);
        
    
            var icon_d15729842628be91889b39ab0415043d = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkgreen", "prefix": "glyphicon"}
            );
            marker_111b7ba0e9e2bf54280e9efb9f6e1a70.setIcon(icon_d15729842628be91889b39ab0415043d);
        
    
        var popup_ad7c7235803545f5cb57b7f34af9cf5c = L.popup({"maxWidth": "100%"});

        
            
                var html_9dba2d70f294cb996b11bef847220c7d = $(`<div id="html_9dba2d70f294cb996b11bef847220c7d" style="width: 100.0%; height: 100.0%;"><table><tr><th>Crop Name:</th><td>Rubber</td></tr><tr><th>State Name:</th><td>Kerala</td></tr><tr><th>Area:</th><td><br>951086 acre</td></tr><tr><th>Production:</th><td><br>41973 pounds</td></tr></table></div>`)[0];
                popup_ad7c7235803545f5cb57b7f34af9cf5c.setContent(html_9dba2d70f294cb996b11bef847220c7d);
            
        

        marker_111b7ba0e9e2bf54280e9efb9f6e1a70.bindPopup(popup_ad7c7235803545f5cb57b7f34af9cf5c)
        ;

        
    
    
            var marker_68bd6ed4a05ea285dcf5c64f9d2120b9 = L.marker(
                [24.808053, 93.944203],
                {}
            ).addTo(feature_group_28a3425fc390fb004790ba5d8a991771);
        
    
            var icon_f40f5a3f081193bb1266fc20dae31e89 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkgreen", "prefix": "glyphicon"}
            );
            marker_68bd6ed4a05ea285dcf5c64f9d2120b9.setIcon(icon_f40f5a3f081193bb1266fc20dae31e89);
        
    
        var popup_d32a835070dd68366c5b593c8f1142aa = L.popup({"maxWidth": "100%"});

        
            
                var html_e0509d4c9387ec2fa73198eb7a07c6c3 = $(`<div id="html_e0509d4c9387ec2fa73198eb7a07c6c3" style="width: 100.0%; height: 100.0%;"><table><tr><th>Crop Name:</th><td>Rubber</td></tr><tr><th>State Name:</th><td>Manipur</td></tr><tr><th>Area:</th><td><br>50 acre</td></tr><tr><th>Production:</th><td><br>50 pounds</td></tr></table></div>`)[0];
                popup_d32a835070dd68366c5b593c8f1142aa.setContent(html_e0509d4c9387ec2fa73198eb7a07c6c3);
            
        

        marker_68bd6ed4a05ea285dcf5c64f9d2120b9.bindPopup(popup_d32a835070dd68366c5b593c8f1142aa)
        ;

        
    
</script>
</html>