<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_8f9aff8452b3121d71a4638045f7d05b {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_8f9aff8452b3121d71a4638045f7d05b" ></div>
        
</body>
<script>
    
    
            var map_8f9aff8452b3121d71a4638045f7d05b = L.map(
                "map_8f9aff8452b3121d71a4638045f7d05b",
                {
                    center: [20.5937, 78.9629],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_390952e8126bc022965b63476d0dc0b3 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_8f9aff8452b3121d71a4638045f7d05b);
        
    
            var feature_group_b148706d31e35e23970772047fbff504 = L.featureGroup(
                {}
            ).addTo(map_8f9aff8452b3121d71a4638045f7d05b);
        
    
            var marker_c69ebb9d51068ac81511121eee9427d1 = L.marker(
                [25.384672, 85.71918683333332],
                {}
            ).addTo(feature_group_b148706d31e35e23970772047fbff504);
        
    
            var icon_d83f0ff052ce7f88b693775305402d27 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkgreen", "prefix": "glyphicon"}
            );
            marker_c69ebb9d51068ac81511121eee9427d1.setIcon(icon_d83f0ff052ce7f88b693775305402d27);
        
    
        var popup_1bdacaa649d2db6fe32b1aaefbfbc04b = L.popup({"maxWidth": "100%"});

        
            
                var html_e9e73342ce553029baf240604d7beeb8 = $(`<div id="html_e9e73342ce553029baf240604d7beeb8" style="width: 100.0%; height: 100.0%;"><table><tr><th>Crop Name:</th><td>Khesari</td></tr><tr><th>State Name:</th><td>Bihar</td></tr><tr><th>Area:</th><td><br>1683561 acre</td></tr><tr><th>Production:</th><td><br>2622 pounds</td></tr></table></div>`)[0];
                popup_1bdacaa649d2db6fe32b1aaefbfbc04b.setContent(html_e9e73342ce553029baf240604d7beeb8);
            
        

        marker_c69ebb9d51068ac81511121eee9427d1.bindPopup(popup_1bdacaa649d2db6fe32b1aaefbfbc04b)
        ;

        
    
    
            var marker_70daa7a6810b17c6841a2b8bb1a2c32a = L.marker(
                [21.50752233333333, 81.739087],
                {}
            ).addTo(feature_group_b148706d31e35e23970772047fbff504);
        
    
            var icon_5242a9878e4c00aff8d6df4a992e3280 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkgreen", "prefix": "glyphicon"}
            );
            marker_70daa7a6810b17c6841a2b8bb1a2c32a.setIcon(icon_5242a9878e4c00aff8d6df4a992e3280);
        
    
        var popup_b2794f9675d56be97e041ca1bab26c9c = L.popup({"maxWidth": "100%"});

        
            
                var html_934236e6803ff63e1dc73cf0d87d0655 = $(`<div id="html_934236e6803ff63e1dc73cf0d87d0655" style="width: 100.0%; height: 100.0%;"><table><tr><th>Crop Name:</th><td>Khesari</td></tr><tr><th>State Name:</th><td>Chhattisgarh</td></tr><tr><th>Area:</th><td><br>5626181 acre</td></tr><tr><th>Production:</th><td><br>13399 pounds</td></tr></table></div>`)[0];
                popup_b2794f9675d56be97e041ca1bab26c9c.setContent(html_934236e6803ff63e1dc73cf0d87d0655);
            
        

        marker_70daa7a6810b17c6841a2b8bb1a2c32a.bindPopup(popup_b2794f9675d56be97e041ca1bab26c9c)
        ;

        
    
    
            var marker_7e69b80c7f4abd825274ad8724c27f37 = L.marker(
                [23.67546114285714, 77.27517714285715],
                {}
            ).addTo(feature_group_b148706d31e35e23970772047fbff504);
        
    
            var icon_55e20410523632960031c081d8693442 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkgreen", "prefix": "glyphicon"}
            );
            marker_7e69b80c7f4abd825274ad8724c27f37.setIcon(icon_55e20410523632960031c081d8693442);
        
    
        var popup_1c76fd7ce51ff460ae690bfb0c01fd0b = L.popup({"maxWidth": "100%"});

        
            
                var html_e9ef20ea9955f8683243a1db26ca15df = $(`<div id="html_e9ef20ea9955f8683243a1db26ca15df" style="width: 100.0%; height: 100.0%;"><table><tr><th>Crop Name:</th><td>Khesari</td></tr><tr><th>State Name:</th><td>Madhya Pradesh</td></tr><tr><th>Area:</th><td><br>403742 acre</td></tr><tr><th>Production:</th><td><br>1227 pounds</td></tr></table></div>`)[0];
                popup_1c76fd7ce51ff460ae690bfb0c01fd0b.setContent(html_e9ef20ea9955f8683243a1db26ca15df);
            
        

        marker_7e69b80c7f4abd825274ad8724c27f37.bindPopup(popup_1c76fd7ce51ff460ae690bfb0c01fd0b)
        ;

        
    
    
            var marker_f838a3b54cafe227fa37d145213f6feb = L.marker(
                [23.729951444444445, 88.26926788888889],
                {}
            ).addTo(feature_group_b148706d31e35e23970772047fbff504);
        
    
            var icon_84272e74b2da3bac125ba000f8d9b164 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "info-sign", "iconColor": "white", "markerColor": "darkgreen", "prefix": "glyphicon"}
            );
            marker_f838a3b54cafe227fa37d145213f6feb.setIcon(icon_84272e74b2da3bac125ba000f8d9b164);
        
    
        var popup_1a4e847ee63feb68e6b61914254285cc = L.popup({"maxWidth": "100%"});

        
            
                var html_6371398fa4f0a52e8ceb324e1d4fc154 = $(`<div id="html_6371398fa4f0a52e8ceb324e1d4fc154" style="width: 100.0%; height: 100.0%;"><table><tr><th>Crop Name:</th><td>Khesari</td></tr><tr><th>State Name:</th><td>West Bengal</td></tr><tr><th>Area:</th><td><br>548965 acre</td></tr><tr><th>Production:</th><td><br>1881 pounds</td></tr></table></div>`)[0];
                popup_1a4e847ee63feb68e6b61914254285cc.setContent(html_6371398fa4f0a52e8ceb324e1d4fc154);
            
        

        marker_f838a3b54cafe227fa37d145213f6feb.bindPopup(popup_1a4e847ee63feb68e6b61914254285cc)
        ;

        
    
</script>
</html>